<div class="py-5">
  <div class="container">
    <!-- Button to clear selection -->
    <button class="btn btn-outline-secondary mb-3" (click)="clearSelection()">Clear Selection</button>
    <!-- AG Grid Angular Component -->
    <ag-grid-angular
      style="width: 100%; height: 500px"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
      [rowHeight]="rowHeight"
    ></ag-grid-angular>
  </div>
</div>
